div{
    text-align: center;
}

.count{
    width: 111px;
    background-color: lightgray;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
}
.btn{
    width: 80px;
    border-radius: 50%;
    height: 80px;
    margin: 10px;
    color: black;
    cursor: pointer;
    border: 1px solid black ;
}

.bg-red {
    background-color: red;
}
.bg-brown {
    background-color: brown;
}
.bg-green {
    background-color: green;
}

.bg:hover {
    opacity: 0.8;
    border: 1px solid white;
}